<form action="/post" method="post">
    <label for="name">名前</label>
    <input type="text" name="name" id="name" placeholder="名前を入力してください" required>
    <label for="email">メールアドレス</label>
    <input type="email" name="email" id="email" placeholder="メールアドレスを入力してください" required>
    <label for="content">内容</label>
    <input type="text" name="content" id="content" placeholder="内容を入力してください" required>
    <button type="submit">送信</button>
</form>