<h1>サインイン</h1>
<form action="/signin" method="post">
    <label for="name">名前</label>
    <input type="text" name="name" id="name" placeholder="名前を入力してください" required>
    <label for="password">パスワード</label>
    <input type="password" name="password" id="password" placeholder="パスワードを入力してください" required>
    <button type="submit">送信</button>
</form>
