<h1>サインアップ(新規登録)</h1>
<form action="/signup" method="post">
    <label for="name">名前</label>
    <input type="text" name="name" id="name" placeholder="名前を入力してください" required>
    <label for="email">メールアドレス</label>
    <input type="text" name="email" id="email" placeholder="メールアドレスを入力してください" required>
    <label for="password">password</label>
    <input type="password" name="password" id="password" placeholder="passwordを入力してください" required>
    <button type="submit">送信</button>
</form>
