body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}
header {
    border-bottom: 1px solid gray;
    a {
        text-decoration: none;
        color: black;
    }
    h1 {
        font-family: billabong;
    }
}
main {
    margin: 0 100px;
}
article {
    border-bottom: 1px solid lightgray;
}